@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');
#intro{
    font-family: Helvetica;
    font-size:150px;
    font-weight:bold;
    padding:24px;
    border-bottom: solid black 1px;
    }
.body {
    margin:0;
    padding:0;
    background-color:#f3f1ed;
    font-family: 'Helvetica';

}

body{
    margin: 0;
    padding: 0;

}

.container {
    position: sticky;
    top:5px;
    display: inline-block;
    align-self: flex-start
}

.menu {
    height: 100vh;
    width:320px;
    font-family: Helvetica;
    font-size:16px;
    padding-left:24px;
    border-right:solid 1px black;
    padding-top:8px;
    }

.menu li {
    margin-top: 12px;
}

.content {
    /* background-color: black; */
    /* border:2px solid green; */
    margin-left:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    width:100%;
    
}

.film {
    display:block;
    position: absolute;
}
.option{
    /* border:solid red 10px; */
    width:100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 80px;
    /* padding-bottom:80px; */


}

.main-section {
    display:flex;
    padding:0;
}
p{
    font-size:16px;
    font-weight:400;
    
    width:50%;
}


ul {
    padding-inline-start: 24px;
    width:100%;
    list-style-type: none;  
    margin-block-start: 0;
}

.navigation {
    position:absolute;
    right: 24px;
    top: 24px;
    width: 200px;
    border: solid 1px black;
    height: 80px;
    display : flex;
    align-items : center;
    justify-content: center;
    margin-top:24px;
    border-radius:200px;

}
.menu > ul >li:hover
{
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
}

.menu > ul >li:hover + div
{
    display: inline;
    overflow-wrap: break-word;
    margin-left:36px;
    margin-bottom:36px;


}

.sublist {
    display:none;
    margin-left:36px;
    padding-bottom:36px;
    font-family:'Times New Roman', Times, serif;
    font-style:italic;

}


.toggle{
    display:flex;
    font-size:16px;
}


a {
    text-decoration:none;
    color:inherit;
}

.title{
    font-size: 96px;
    font-family: 'Nanum Myeongjo', serif;
    font-style:italic;
    color:goldenrod;
    padding-bottom:16px;
}

.year {
    display:inline;
    border: 1px solid black;
    padding:1px;
    border-radius:4px;
}

button {
    position:absolute;
    right: 10px;
    font-size:24px;
    border: 1px solid black;
    padding:1px;
    border-radius:20px;
    background-color:transparent;

}